# Clustering

## Parámetros

In [5]:
BASE_DIR = '/Users/efraflores/Desktop/EF/Contests/Datathon_CDMX/data' # Mac
# BASE_DIR = r'D:\Users\efras\Documents\EF\Contests\Datathon_CDMX\data' # Windows
FILE_NAME = 'interrupcion_embarazo_clean'
N_CLUSTERS = 10

## Importar

### Clase

In [2]:
from mariachis.interrupcion_embarazo import InterrupcionEmbarazo

ile = InterrupcionEmbarazo(BASE_DIR, FILE_NAME)
print(ile)

Directorio: 	/Users/efraflores/Desktop/EF/Contests/Datathon_CDMX/data

### Datos

In [3]:
df = ile.full_import(api=False)
df.sample()

Archivo con nombre interrupcion_embarazo_clean.csv fue encontrado en /Users/efraflores/Desktop/EF/Contests/Datathon_CDMX/data
Con 79383 renglones y 69 columnas

,año,mes,fingreso,autoref,edocivil_descripcion,edad,desc_derechohab,nivel_edu,ocupacion,religion,...,rango_nhijos,rango_gesta,rango_c_num,rango_p_semgest,rango_p_diasgesta,rango_fsexual_vs_menarca,rango_edad_vs_menarca,rango_edad_vs_fsexual,antes_vs_despues,antes_vs_despues_detalle
52567,2017.0,MAYO,2017-05-02,DESCONOCIDO,SOLTERX,25.0,ALGUNO,PREPARATORIA,EMPLEADX,SI,...,02,03,DESCONOCIDO,06,03,01 a 03,09 a 12,09 a 12,IGUAL,"antes: NINGUNO, después: NINGUNO"

### Columnas para clustering

In [4]:
cluster_cols = ['antes_vs_despues', 'antes_vs_despues_detalle', 'anticonceptivo', 'autoref', 'c_dolor', 'cconsejo', 'consejeria', 'desc_derechohab', 'desc_servicio', 'edad_vs_fsexual', 'edad_vs_menarca', 'edocivil_descripcion', 'fsexual_vs_menarca', 'motiles', 'naborto', 'ncesarea', 'nile', 'nivel_edu', 'npartos', 'ocupacion', 'p_consent', 'panticoncep', 'parentesco', 'procile_completa', 'procile_simplificada', 'rango_c_num', 'rango_edad', 'rango_fsexual', 'rango_gesta', 'rango_menarca', 'rango_nhijos', 'rango_p_diasgesta', 'rango_p_semgest', 'rango_sememb', 'religion', 'resultado_ile', 's_complica', 'tanalgesico']

df[cluster_cols].sample()

,antes_vs_despues,antes_vs_despues_detalle,anticonceptivo,autoref,c_dolor,cconsejo,consejeria,desc_derechohab,desc_servicio,edad_vs_fsexual,...,rango_gesta,rango_menarca,rango_nhijos,rango_p_diasgesta,rango_p_semgest,rango_sememb,religion,resultado_ile,s_complica,tanalgesico
75676,DIFERENTE,"antes: NINGUNO, después: DESCONOCIDO",NINGUNO,DESCONOCIDO,DESCONOCIDO,SI,SI,NINGUNO,DESCONOCIDO,DESCONOCIDO,...,DESCONOCIDO,13,00,05,01 a 05,DESCONOCIDO,NINGUNA,DESCONOCIDO,DESCONOCIDO,DESCONOCIDO

## Clustering

In [6]:
df, clustering_pipeline = ile.clustering_ile(df, cluster_cols, n_clusters=N_CLUSTERS)
df.sample()

Archivo: interrupcion_embarazo_clean_cluster.csv fue exportado exitosamente en: /Users/efraflores/Desktop/EF/Contests/Datathon_CDMX/data

,año,mes,fingreso,autoref,edocivil_descripcion,edad,desc_derechohab,nivel_edu,ocupacion,religion,...,rango_gesta,rango_c_num,rango_p_semgest,rango_p_diasgesta,rango_fsexual_vs_menarca,rango_edad_vs_menarca,rango_edad_vs_fsexual,antes_vs_despues,antes_vs_despues_detalle,cluster
22344,2020.0,NOVIEMBRE,2020-11-09,NO,SOLTERX,22.0,DESCONOCIDO,LICENCIATURA,ESTUDIANTE,SI,...,01,00,07,01,05 a 06,09 a 12,05 a 08,DIFERENTE,"antes: CONDON, después: DESCONOCIDO",G